{% extends "calregister/base.html" %}

{% block content %}

<h1 
	style="color:blue; text-align:center;font-size:5vw; font-family:serif;">
About
</h1>

    <p  style="text-align:center; font-family:Monospace; font-size:2vw;font-weight:bold;" > 
 Book your slot in the calendar .
<br>Provide feature to :  </br>
<br> 1.  Define your available slot</br>
 2.  let other people book your free slots for appointment.
</p>
    <h3 style="color:green; text-align:center;font-family: Times New Roman, Times, serif;font-size:3vw;">Happy Booking !</h3>
{% endblock content %}
